<html >

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="renderer" content="webkit">
   <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/easyui.css?gversion=1.0.0">
  <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/style.css?gversion=1.0.0">
</head>

<body >
<h1>常见问题</h1>
<h2>1、中文传输乱码问题</h2>
<ol>
  <li>一般是get传输时导致，尽量采用post提交，以json或jsonp交互，减少使用前后端转码</li>
  <li>后端需支持按列查询</li>
</ol>
<h2>2、常见IE兼容问题</h2>
<ol>
  <li>在js代码中使用console调式会报错。必须清除或者注释掉。</li>
  <li>后端需支持按列查询</li>
</ol>
</body>
</html>
