<html >

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="renderer" content="webkit">
   <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/easyui.css?gversion=1.0.0">
  <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/style.css?gversion=1.0.0">
  <style type="text/css">
    body{font-size: 14px;}
  </style>
</head>

<body style="margin: 0 20px;">
<div id="tsh-title">
    <h3><span class="t1">使用指南</span><span class="t2"></span>  </h3>
    <div class="title-border"></div>
  </div>
<h2>一、快如上手</h2>
  <p>各个项目组每次只需更新替换static/tsh整个文件夹。此文件夹为淘实惠前端框架。其余文件均为示例代码。仅供参考</p>
<h2>一、tsh框架目录结构</h2>
目录结构
<ul>
  <li>
    webapp
    <ul>
        <li>static</li>
        <ul>
            <li>tsh(淘实惠PC前端框架)</li>
            <li>xxx项目（项目名）</li>
            <ul>
                <li>js（项目js）</li>
                <ul>
                    <li>common（项目公用js）</li>
                    <li>goods(index.js;list.js;add.js;edit.js;info.js)</li>
                    <li>css（项目css）</li>
                    <li>images（项目图片）</li>
                </ul>
            </ul>
        </ul>
        <li>views</li>
        <ul>
            <li>home.html</li>
            <li>common(项目公共页面)</li>
            <li>error</li>
            <ul>
                <li>404.html</li>
                <li>500.html</li>
            </ul>
            <li>goods</li>
            <ul>
                <li>index.html（首页）</li>
                <li>list.html（列表页）</li>
                <li>edit.html(编辑页)</li>
                <li>add.html(添加页)</li>
            </ul>
        </ul>
    </ul>
  </li>
</ul>
<h2>二：空白页使用示例</h2>
<textarea style="width:100%;height:200px;">
  <!DOCTYPE html>
  <html>
  <head>
      <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
      <meta name="renderer" content="webkit">
      <title>淘实惠管理系统</title>
      <link rel="stylesheet" type="text/css" href="../static/tsh/1.0.0/themes/easyui.css?gversion=1.0.0">
      <link rel="stylesheet" type="text/css" href="../static/home/1.0.0/home.css?gversion=1.0.0">
      <script src="../static/tsh/1.0.0/jquery.min.js?gversion=1.0.0"></script>
      <script src="../static/tsh/1.0.0/jquery.easyui.min.js?gversion=1.0.0"></script>
      <script src="../static/home/1.0.0/home.js?gversion=1.0.0"></script>
  </head>
  <body>
</html>
</textarea>



<h2>链接：</h2>
easyuihttp://www.jeasyui.com/index.php
社区：http://bbs.jeasyuicn.com/
</body>

</html>
