<html >

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/easyui.css?gversion=1.0.0">
  <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/style.css?gversion=1.0.0">
</head>

<body style="margin:0 20px;">
  <div id="tsh-title">
      <h3><span class="t1">更新日志</span><span class="t2"></span>  </h3>
      <div class="title-border"></div>
  </div>
  待办事项
  <h2></h2>
  <ol>
    <li>新的图标UI更新</li>
    <li>商家选择组件</li>
    <li>县域网点搜索组件</li>
    <li>批量选择组合演示</li>
    <li>datagird View重写演示</li>
    <li>前端的工程化方案（css采用sass，js打包压缩合并）</li>
    <li>项目组的前端工程化方案</li>
  </ol>

  <h2>2016-5-19</h2>
  <ol>
    <li>输入限制，增加浮点数和整数限制</li>
    <li>默认图标与操作图标的补充</li>
 
  </ol>
  <h2>2016-5-18</h2>
  <ol>
    <li>增加表格编辑</li>
    <li>地址五级联动</li>
    <li>单选复选框样式美化（IE8降级处理）</li>
    <li>窗口添加消息组件</li>
    <li>图标的补充</li>
    <li>表单验证增加输入限制</li>
    <li>easyui.extend.js 增加遮罩、接受参数、日期格式化</li>
  </ol>

  <h2>2016-5-11</h2>
  <ol>
    <li>美化home tabsUI效果</li>
    <li>进程组件CSS修改</li>
    <li>修复分页器序号的bug，美化分页器图标</li>
  </ol>
  <h2>2016-5-10</h2>
  <ol>
    <li>调整框架插件目录</li>
    <li>组件（进程）</li>
    <li>表单组件（数据库重复值验证，地区联动，图片上传）</li>
    <li>增加项目组菜单（商品组、账户组、商家组、订单组、财务组）</li>
  </ol>
  
<h2>2016-4-18至2016-5-9</h2>
<ol>
  <li>基础（图标、按钮）</li>
  <li>组件（表格、表单、分页、窗口、标签）</li>
  <li>表单组件（常用验证规则，验证样式）</li>
</ol>

<h2>2016-4-18</h2>
<ol>
  <li>补充文档</li>
  <li>基本框架、包含侧边栏（用户登录信息、主菜单）和主体</li>
</ol>

</body>

</html>
