<html >
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/easyui.css">
  <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/style.css">
  <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/plugins/others/google-code-prettify/prettify.css">
  <script src="../../../static/tsh/1.0.0/plugins/others/google-code-prettify/prettify.js"></script>
</head>

<body style="margin:0 20px;" onload="prettyPrint()">
  <div id="tsh-title">
    <h3><span class="t1">账户中心图标</span><span class="t2"></span>  </h3>
    <div class="title-border"></div>
  </div>

account_icon_1<div class="account-icon"><i class="i-account i-account-1"></i><div class="account-icon-right"><p class="account-icon-text">惠账户余额</p><p class="account-icon-pri">￥296.00</p></div></div>&nbsp;&nbsp;
account_icon_2<div class="account-icon"><i class="i-account i-account-2"></i><div class="account-icon-right"><p class="account-icon-text">待结算金额</p><p class="account-icon-pri">￥296.00</p></div></div>&nbsp;&nbsp;
account_icon_3<div class="account-icon"><i class="i-account i-account-3"></i><div class="account-icon-right"><p class="account-icon-text">优惠卡</p><p class="account-icon-pri">￥296.00</p></div></div>&nbsp;&nbsp;
account_icon_4<div class="account-icon"><i class="i-account i-account-4"></i><div class="account-icon-right"><p class="account-icon-text">银行卡</p><p class="account-icon-num">3&nbsp;张</p></div></div>&nbsp;&nbsp;
account_icon_5<div class="account-icon"><i class="i-account i-account-5"></i><div class="account-icon-right"><p class="account-icon-text">惠金库</p><p class="account-icon-pri">￥296.00</p></div></div>&nbsp;&nbsp;
<pre class="prettyprint">
  &#60;div class="account-icon"&#62;&#60;i class="i-account i-account-1"&#62;&#60;/i&#62;&#60;div class="account-icon-right"&#62;&#60;p class="account-icon-text"&#62;惠账户余额&#60;/p&#62;&#60;p class="account-icon-pri"&#62;￥296.00&#60;/p&#62;&#60;/div&#62;&#60;/div&#62;
  &#60;div class="account-icon"&#62;&#60;i class="i-account i-account-2"&#62;&#60;/i&#62;&#60;div class="account-icon-right"&#62;&#60;p class="account-icon-text"&#62;待结算金额&#60;/p&#62;&#60;p class="account-icon-pri"&#62;￥296.00&#60;/p&#62;&#60;/div&#62;&#60;/div&#62;
  &#60;div class="account-icon"&#62;&#60;i class="i-account i-account-3"&#62;&#60;/i&#62;&#60;div class="account-icon-right"&#62;&#60;p class="account-icon-text"&#62;优惠卡&#60;/p&#62;&#60;p class="account-icon-pri"&#62;￥296.00&#60;/p&#62;&#60;/div&#62;&#60;/div&#62;
  &#60;div class="account-icon"&#62;&#60;i class="i-account i-account-4"&#62;&#60;/i&#62;&#60;div class="account-icon-right"&#62;&#60;p class="account-icon-text"&#62;银行卡&#60;/p&#62;&#60;p class="account-icon-num"&#62;3&amp;nbsp;张&#60;/p&#62;&#60;/div&#62;&#60;/div&#62;
  &#60;div class="account-icon"&#62;&#60;i class="i-account i-account-5"&#62;&#60;/i&#62;&#60;div class="account-icon-right"&#62;&#60;p class="account-icon-text"&#62;惠金库&#60;/p&#62;&#60;p class="account-icon-pri"&#62;￥296.00&#60;/p&#62;&#60;/div&#62;&#60;/div&#62;
</pre>

</body>

</html>
