<html >
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/easyui.css">
  <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/style.css">
  <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/plugins/others/google-code-prettify/prettify.css">
  <script src="../../../static/tsh/1.0.0/plugins/others/google-code-prettify/prettify.js"></script>
</head>

<body style="margin:0 20px;" onload="prettyPrint()">
  <div id="tsh-title">
    <h3><span class="t1">按钮</span><span class="t2"></span>  </h3>
    <div class="title-border"></div>
  </div>

btn<a class='btn' href='javascript:;' ><i class='i-op i-op-del'></i>删除</a>&nbsp;&nbsp;
btn-1<a class='btn btn-1' href='javascript:;' ><i class='i-search'></i>搜索</a>&nbsp;&nbsp;
btn-2<a class='btn btn-2' href='javascript:;' ><i class='i-add'></i>添加</a>&nbsp;&nbsp;
btn-3<a class='btn btn-3' href='javascript:;' ><i class='i-export'></i>导出</a>&nbsp;&nbsp;
btn-4<a class='btn btn-4' href='javascript:;' >< 返回</a>&nbsp;&nbsp;
btn-l<a class='btn btn-l' href='javascript:;' ><i class='i-op i-op-del'></i>删除</a>
<pre class="prettyprint">
  &#60;a class='btn' href='javascript:;' &#62;&#60;i class='i-op i-op-del'&#62;&#60;/i&#62;删除&#60;/a&#62;
  &#60;a class='btn btn-1' href='javascript:;' &#62;&#60;i class='i-search'&#62;&#60;/i&#62;搜索&#60;/a&#62;
  &#60;a class='btn btn-2' href='javascript:;' &#62;&#60;i class='i-add'&#62;&#60;/i&#62;添加&#60;/a&#62;
  &#60;a class='btn btn-3' href='javascript:;' &#62;&#60;i class='i-export'&#62;&#60;/i&#62;导出&#60;/a&#62;
  &#60;a class='btn btn-l' href='javascript:;' &#62;&#60;i class='i-op i-op-del'&#62;&#60;/i&#62;删除&#60;/a&#62;
</pre>

</body>

</html>
