<html >

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/easyui.css">
  <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/style.css">
  <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/plugins/others/google-code-prettify/prettify.css">
  <script src="../../../static/tsh/1.0.0/plugins/others/google-code-prettify/prettify.js"></script>

</head>

<body onload="prettyPrint()">

<h3>图标</h3>


<div style="width: 800px; background:#D4D4D4; padding: 20px;">
    <i class="i-108"></i>
    <i class="i-109"></i>
    <i class="i-106"></i>
    <i class="i-107"></i><br>

    <i class="i-96"></i>
    <i class="i-99"></i>
    <i class="i-104"></i>
    <i class="i-93"></i>
    <i class="i-100"></i>
    <i class="i-101"></i>
    <i class="i-102"></i>
    <i class="i-94"></i>
    <i class="i-97"></i>
    <i class="i-103"></i>
    <i class="i-95"></i>
    <i class="i-98"></i>

    <br>
    <i class="i-31"></i>
    <i class="i-27"></i>
    <i class="i-36"></i>
    <i class="i-38"></i>
    <br>
    <i class="i-72"></i>
    <i class="i-68"></i>
    <i class="i-77"></i>
    <i class="i-79"></i>
    <br>
    <i class="i-01"></i>
    <i class="i-02"></i>
    <i class="i-03"></i>
    <i class="i-04"></i>
    <i class="i-05"></i>
    <i class="i-06"></i>
    <i class="i-07"></i>
    <i class="i-08"></i>
    <i class="i-09"></i>
    <i class="i-10"></i>
    <i class="i-11"></i>
    <i class="i-12"></i>
    <i class="i-13"></i>
    <i class="i-14"></i>
    <i class="i-15"></i>
    <i class="i-16"></i>
    <i class="i-17"></i>
    <i class="i-18"></i>
    <i class="i-19"></i>
    <i class="i-20"></i>
    <i class="i-21"></i>
    <i class="i-22"></i>
    <i class="i-23"></i>
    <i class="i-24"></i>
    <i class="i-25"></i>
    <i class="i-28"></i>
    <i class="i-29"></i>
    <i class="i-30"></i>
    <i class="i-34"></i>
    <i class="i-35"></i>
    <i class="i-37"></i>
    <i class="i-39"></i>
    <i class="i-41"></i>
    <br>
    <i class="i-42"></i>
    <i class="i-43"></i>
    <i class="i-44"></i>
    <i class="i-45"></i>
    <i class="i-46"></i>
    <i class="i-47"></i>
    <i class="i-48"></i>
    <i class="i-49"></i>
    <i class="i-50"></i>
    <i class="i-51"></i>
    <i class="i-52"></i>
    <i class="i-53"></i>
    <i class="i-54"></i>
    <i class="i-55"></i>
    <i class="i-56"></i>
    <i class="i-57"></i>
    <i class="i-58"></i>
    <i class="i-59"></i>
    <i class="i-60"></i>
    <i class="i-61"></i>
    <i class="i-62"></i>
    <i class="i-63"></i>
    <i class="i-64"></i>
    <i class="i-65"></i>
    <i class="i-66"></i>
    <i class="i-69"></i>
    <i class="i-70"></i>
    <i class="i-71"></i>
    <i class="i-75"></i>
    <i class="i-76"></i>
    <i class="i-78"></i>
    <i class="i-80"></i>
    <i class="i-82"></i>
    <br>
    <i class="i-83"></i>
    <i class="i-84"></i>
    <i class="i-85"></i>
    <i class="i-86"></i>
    <i class="i-87"></i>
    <i class="i-88"></i>
    <i class="i-89"></i>
    <i class="i-90"></i>
    <i class="i-91"></i>
    <br>
    <i class="i-26"></i>
    <i class="i-33"></i>
    <i class="i-40"></i>
    <i class="i-32"></i>
    <br>
    <i class="i-67"></i>
    <i class="i-74"></i>
    <i class="i-81"></i>
    <i class="i-73"></i>
</div>


<h3>图片（移动端）</h3>
<div style="width: 800px; background:#D4D4D4; padding: 20px;">

    <img class="m-108" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAA0AQMAAADolBlhAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA5JREFUeNpjYBgFww0AAAHUAAFkkp1qAAAAAElFTkSuQmCC">
    <img class="m-109" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAA0AQMAAADolBlhAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA5JREFUeNpjYBgFww0AAAHUAAFkkp1qAAAAAElFTkSuQmCC">
    <img class="m-106" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD0AAAA0AQMAAAADo6JiAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA5JREFUeNpjYBgFww0AAAHUAAFkkp1qAAAAAElFTkSuQmCC">
    <img class="m-107" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADkAAAA0AQMAAAAKSAIYAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA5JREFUeNpjYBgFww0AAAHUAAFkkp1qAAAAAElFTkSuQmCC">

    <br>
    <img class="m-96" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAeAQMAAACYBuVUAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYBh6AAAAtAABsa9cTAAAAABJRU5ErkJggg==">
    <img class="m-99" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeAQMAAAB3xI5qAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYBiMAAAAlgABjcjBIQAAAABJRU5ErkJggg==">
    <img class="m-104" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAeAQMAAADuPFffAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYBiMAAAAlgABjcjBIQAAAABJRU5ErkJggg==">
    <img class="m-93" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAeAQMAAADuPFffAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYBiMAAAAlgABjcjBIQAAAABJRU5ErkJggg==">
    <img class="m-100" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeAQMAAAAB/jzhAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYBiMAAAAlgABjcjBIQAAAABJRU5ErkJggg==">
    <img class="m-101" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeAQMAAAAB/jzhAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYBiMAAAAlgABjcjBIQAAAABJRU5ErkJggg==">
    <img class="m-102" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeAQMAAAAB/jzhAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYBiMAAAAlgABjcjBIQAAAABJRU5ErkJggg==">
    <img class="m-94" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeAQMAAAAB/jzhAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYBiMAAAAlgABjcjBIQAAAABJRU5ErkJggg==">
    <img class="m-97" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeAQMAAAAB/jzhAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYBiMAAAAlgABjcjBIQAAAABJRU5ErkJggg==">
    <img class="m-103" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAeAQMAAADqyYfiAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYBiMAAAAlgABjcjBIQAAAABJRU5ErkJggg==">
    <img class="m-95" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeAQMAAADn1/elAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYBiMAAAAlgABjcjBIQAAAABJRU5ErkJggg==">
    <img class="m-98" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeAQMAAADn1/elAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYBiMAAAAlgABjcjBIQAAAABJRU5ErkJggg==">
    <br>
    <br>
    <img class="m-31" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOAQMAAAAc4Q7JAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-27" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOAQMAAADKRNSsAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-36" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOAQMAAADKRNSsAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-38" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOAQMAAADKRNSsAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <br>
    <img class="m-72" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOAQMAAAAc4Q7JAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-68" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOAQMAAADKRNSsAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-77" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOAQMAAADKRNSsAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-79" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOAQMAAADKRNSsAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <br>
    <img class="m-01" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-02" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-03" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-04" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-05" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-06" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-07" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-08" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-09" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-10" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-11" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-12" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-13" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-14" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-15" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-16" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-17" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-18" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-19" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-20" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-21" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-22" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-23" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-24" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-25" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-28" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-29" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-30" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-34" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-35" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-37" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-39" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-41" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <br>
    <img class="m-42" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-43" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-44" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-45" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-46" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-47" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-48" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-49" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-50" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-51" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-52" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-53" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-54" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-55" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-56" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-57" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-58" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-59" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-60" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-61" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-62" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-63" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-64" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-65" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-66" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-69" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-70" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-71" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-75" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-76" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-78" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-80" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-82" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <br>
    <img class="m-83" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-84" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-85" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-86" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-87" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-88" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-89" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-90" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-91" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <br>
    <img class="m-26" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOAQMAAADOsQSRAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-33" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOAQMAAADOsQSRAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-40" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOAQMAAADOsQSRAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-32" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOAQMAAAAhc2+vAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">

    <br>
    <img class="m-67" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOAQMAAADOsQSRAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-74" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOAQMAAADOsQSRAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-81" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOAQMAAADOsQSRAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
    <img class="m-73" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOAQMAAAAhc2+vAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAWAAAAKgABXByn7wAAAABJRU5ErkJggg==">
</div>



  <div id="tsh-title">
    <h3><span class="t1">图标规范</span><span class="t2"></span></h3>
    <div class="title-border"></div>
  </div>
使用i标签
<pre class="prettyprint">
    &#60;i class="i-add"&#62;&#60;/i&#62;
</pre>
目前提供图标规格
<table border="1" width="100%" class="text-center">
	<tr>
		<th>规格</th>
		<th>标识</th>
		<th>尺寸</th>
		<th>示例</th>
		<th>代码</th>
	</tr>

	<tr>
		<td>默认图标</td>
		<td></td>
		<td>16*16</td>
		<td><i class="i-del"></i></td>
		<td>
			<pre class="prettyprint">
      &#60;i class="i-del"&#62;&#60;/i&#62;
  </pre></td>
	</tr>
	<tr>
		<td>操作图标</td>
		<td>i-op</td>
		<td>14*14</td>
		<td><i class="i-op i-op-del"></i></td>
		<td>
			<pre class="prettyprint">
      &#60;i class="i-op-del"&#62;&#60;/i&#62;
  </pre></td>
	</tr>
	<tr>
		<td>菜单图标</td>
		<td>i-menu</td>
		<td>19*19</td>
		<td><i class="i-menu i-menu-1"></i></td>
		<td>
			<pre class="prettyprint">
      &#60;i class="i-menu i-menu-1"&#62;&#60;/i&#62;
  </pre></td>

	</tr>
	<tr>
		<td>账户中心图标</td>
		<td>i-account</td>
		<td>50*50</td>
		<td><i class="i-account i-account-1"></i></td>
		<td>
			<pre class="prettyprint">
      &#60;i class="i-account i-account-1"&#62;&#60;/i&#62;
  </pre></td>

	</tr>
		<tr>
		<td>对错图标</td>
		<td>i-judge</td>
		<td>17*17</td>
		<td><i class="i-judge i-judge-1"></i></td>
		<td>
			<pre class="prettyprint">
      &#60;i class="i-judge i-judge-1"&#62;&#60;/i&#62;
  </pre></td>

	</tr>
</table>
<h3>默认图标</h3>
<div style="background:#ccc">
  <i class="i-search"></i>search&nbsp;&nbsp;&nbsp;
  <i class="i-add"></i>add&nbsp;&nbsp;&nbsp;
  <i class="i-ok"></i>ok&nbsp;&nbsp;&nbsp;
  <i class="i-close"></i>close&nbsp;&nbsp;&nbsp;
  <i class="i-cancel"></i>cancel&nbsp;&nbsp;&nbsp;
  <i class="i-export"></i>export&nbsp;&nbsp;&nbsp;
  <br>
  <i class="i-success"></i>export&nbsp;&nbsp;&nbsp;
  <i class="i-error"></i>export&nbsp;&nbsp;&nbsp;
  <i class="i-edit"></i>edit&nbsp;&nbsp;&nbsp;
  <i class="i-view"></i>view&nbsp;&nbsp;&nbsp;
  <i class="i-save"></i>save&nbsp;&nbsp;&nbsp;
  <i class="i-publish"></i>publish&nbsp;&nbsp;&nbsp;
  <i class="i-export-1"></i>export-1&nbsp;&nbsp;&nbsp;

</div>

<h3>操作图标</h3>
<p>一般结合链式按钮使用</p>
<a class='btn btn-l' href='javascript:;' ><i class='i-op i-op-del'></i>删除</a>

<a class='btn btn-l' href='javascript:;' ><i class='i-op i-46'></i>删除</a>
<pre class="prettyprint">
  &#60;a class='btn btn-l' href='javascript:;' &#62;&#60;i class='i-op i-op-del'&#62;&#60;/i&#62;删除&#60;/a&#62;
</pre>
<i class='i-op i-op-view'></i>view&nbsp;&nbsp;
<i class='i-op i-op-edit'></i>edit&nbsp;&nbsp;
<i class='i-op i-op-modify'></i>modify&nbsp;&nbsp;
<i class='i-op i-op-del'></i>del&nbsp;&nbsp;
<i class='i-op i-op-pin'></i>pin&nbsp;&nbsp;
<i class='i-op i-op-lock'></i>lock&nbsp;&nbsp;
<i class='i-op i-op-unlock'></i>unlock&nbsp;&nbsp;
<i class='i-op i-op-check'></i>check&nbsp;&nbsp;
<i class='i-op i-op-true'></i>true&nbsp;&nbsp;
<i class='i-op i-op-false'></i>false&nbsp;&nbsp;
<br>
<i class='i-op i-op-set'></i>set&nbsp;&nbsp;
<i class='i-op i-op-bind'></i>bind&nbsp;&nbsp;
<i class='i-op i-op-undbind'></i>undbind&nbsp;&nbsp;
<i class='i-op i-op-up'></i>up&nbsp;&nbsp;
<i class='i-op i-op-down'></i>down&nbsp;&nbsp;
<i class='i-op i-op-reflash'></i>reflash&nbsp;&nbsp;
<i class='i-op i-op-add'></i>add&nbsp;&nbsp;
<i class='i-op i-op-open'></i>open&nbsp;&nbsp;
<i class='i-op i-op-close'></i>close&nbsp;&nbsp;
<br>
<i class='i-op i-op-view-1'></i>view-1&nbsp;&nbsp;
<i class='i-op i-op-view-2'></i>view-2&nbsp;&nbsp;
<i class='i-op i-op-unview'></i>unview&nbsp;&nbsp;
<i class='i-op i-op-print'></i>print&nbsp;&nbsp;
<i class='i-op i-op-lock-1'></i>lock-1&nbsp;&nbsp;
<i class='i-op i-op-unlock-1'></i>unlock-1&nbsp;&nbsp;
<i class='i-op i-op-add-1'></i>add-1&nbsp;&nbsp;
<i class='i-op i-op-del-1'></i>del-1&nbsp;&nbsp;
<i class='i-op i-op-connect'></i>connect&nbsp;&nbsp;
<i class='i-op i-op-cat'></i>cat&nbsp;&nbsp;
<br>
<i class='i-op i-op-upload'></i>upload&nbsp;&nbsp;
<i class='i-op i-op-download'></i>download&nbsp;&nbsp;
<i class='i-op i-op-up-1'></i>up-1&nbsp;&nbsp;
<i class='i-op i-op-down-1'></i>down-1&nbsp;&nbsp;
<i class='i-op i-op-expand'></i>expand&nbsp;&nbsp;
<i class='i-op i-op-unexpand'></i>unexpand&nbsp;&nbsp;
<i class='i-op i-op-set-1'></i>set-1&nbsp;&nbsp;
<i class='i-op i-op-money'></i>money&nbsp;&nbsp;
<i class='i-op i-op-wrong'></i>wrong&nbsp;&nbsp;
<i class='i-op i-op-right'></i>right&nbsp;&nbsp;
<h3>左侧菜单</h3>
<p>供动态配置使用</p>
<i class="i-menu i-menu-1"></i>1
<i class="i-menu i-menu-2"></i>2
<i class="i-menu i-menu-3"></i>3
<i class="i-menu i-menu-4"></i>4
<i class="i-menu i-menu-5"></i>5
<i class="i-menu i-menu-6"></i>6
<i class="i-menu i-menu-7"></i>7
<i class="i-menu i-menu-8"></i>8
<i class="i-menu i-menu-9"></i>9
<i class="i-menu i-menu-10"></i>10
<i class="i-menu i-menu-11"></i>11
<i class="i-menu i-menu-12"></i>12
<i class="i-menu i-menu-13"></i>13
<i class="i-menu i-menu-14"></i>14
<pre class="prettyprint">
  &#60;i class="i-menu i-menu-1"&#62;&#60;/i&#62;
</pre>


<h3>账户中心图标</h3>
<p>供账户中心使用，配合说明和金额</p>
<i class="i-account i-account-1"></i>1
<i class="i-account i-account-2"></i>2
<i class="i-account i-account-3"></i>3
<i class="i-account i-account-4"></i>4
<i class="i-account i-account-5"></i>5
<pre class="prettyprint">
  &#60;i class="i-account i-account-1"&#62;&#60;/i&#62;
</pre>

<h3>对错图标</h3>
<p>判断正误时使用</p>
<i class="i-judge i-judge-1"></i>1
<i class="i-judge i-judge-2"></i>2
<pre class="prettyprint">
  &#60;i class="i-judge i-judge-1"&#62;&#60;/i&#62;
</pre>
目录结构
<ul>
  <li>
    webapp
    <ul>
        <li>static</li>
        <ul>
            <li>tsh(淘实惠PC前端框架)</li>
            <li>xxx项目（项目名）</li>
            <ul>
                <li>js（项目js）</li>
                <ul>
                    <li>common（项目公用js）</li>
                    <li>goods(index.js;list.js;add.js;edit.js;info.js)</li>
                    <li>css（项目css）</li>
                    <li>images（项目图片）</li>
                </ul>
            </ul>
        </ul>
        <li>views</li>
        <ul>
            <li>home.html</li>
            <li>common(项目公共页面)</li>
            <li>error</li>
            <ul>
                <li>404.html</li>
                <li>500.html</li>
            </ul>
            <li>goods</li>
            <ul>
                <li>index.html（首页）</li>
                <li>list.html（列表页）</li>
                <li>edit.html(编辑页)</li>
                <li>add.html(添加页)</li>
            </ul>
        </ul>
    </ul>
  </li>
</ul>
<h2>三：使用示例</h2>
<textarea style="width:100%;height:200px;">
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <title>淘实惠供应商管理平台</title>
    <link rel="stylesheet" type="text/css" href="../static/tsh/1.0.0/themes/default/easyui.css">
    <script src="../static/tsh/1.0.0/jquery.min.js"></script>
    <script src="../static/tsh/1.0.0/jquery.easyui.min.js"></script>
    <script src="../static/tsh/1.0.0/easyloader.js"></script>
    <script src="../static/js/lib/easyui/style.js"></script>
    <script src="../static/gy/1.0.0/js/common/homeMenu.js"></script>
    <body>
    </body>
</html>
</textarea>





<h2>链接：</h2>
easyuihttp://www.jeasyui.com/index.php
社区：http://bbs.jeasyuicn.com/
</body>

</html>
