<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="renderer" content="webkit">
<script type="text/javascript" src="../../static/tsh/1.0.0/jquery.min.js"></script>
<title>淘实惠平台</title>
<script type="text/javascript">
		$(document).ready(function(){
			$.ajax({  
				type:'POST',      
				url:'/test/add.do',  
				data:{'userName':'aa2211','password':'123456'},    
				dataType:'json',  
				success:function(data){  
				}  
			});  
		});
	</script>
</head>
<body>
功能首页（如有）
</body>

</html>
