<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>第一个页面</title>

<script src="../../static/tsh/1.0.0/jquery/jquery-1.11.3.min.js"></script>
<script src="../../static/tsh/1.0.0/jquery/jquery.cookies.2.2.0.min.js"></script>
<script src="../../static/tsh/1.0.0/jquery/cookies.js"></script>
<script src="../../static/tsh/1.0.0/jquery/jquery.validate.js"></script>
<script src="../../static/tsh/common/checklogin.js"></script>
<script type="text/javascript">
  //如果验证还未登录，则调整到登录中心地址
	  $(function() {
			doLogin(function() {
				//访问服务端接口，获取当前用户的用户名称
					$.ajax({
						url:'/test/getUserType.do',
						type:'post',
						success:function(data){
							if(data!=null||data!='undefined'){				
								$('#userType').val(data.data);			
							}
							else if(result){
								alert('操作提示','请先登录');
							}
						},
						dataType:'json'
				});
				
		});
  	});		
	
// 2,登录验证和登录调整逻辑
/*  var doLogin = function(callback) {
        var logined = getCookie('logined');
        if (!logined) {
            if (logined) {
            	logined = getCookie('logined') ;
            }
        }
        if (logined) {
			//如果验证已经登录，则直接访问接口
            if (callback) {
                callback();
            }
        } else {
		    //如果验证还未登录，则调整到登录中心地址
//         	location.href = "http://172.16.2.34:8082/views/usercentre/src/login.html";
//         	location.href = "http://127.0.0.1:82/views/usercentre/src/login.html";
			location.href = "http://172.16.3.6:82/views/usercentre/src/login.html";
        }
	} */
  
  </script>
</head>
<body>

<!-- 	<input id="test" type="button" value="获取登录用户名称" onclick="checklogin()" /> -->
	用户类型：<input id="userType" type="text" value="" />

</body>
</html>