<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" type="text/css" href="../../static/tsh/1.0.0/themes/easyui.css">
  <link rel="stylesheet" type="text/css" href="../../static/tsh/1.0.0/themes/style.css">
  <script src="../../static/tsh/1.0.0/jquery.min.js"></script>
  <script src="../../static/tsh/1.0.0/jquery.easyui.min.js"></script>
  <script src="../../static/tsh/1.0.0/jquery.easyui.extend.min.js"></script>
  <style type="text/css">
	.form{margin-top: 90px;}
	.form td{ padding: 10px 0}
  	#tsh-title .btn-4{position: absolute;top:-5px;}
  	.tsh-process{padding-top: 65px;}
  	table{font-size: 12px;}
  </style>
</head>

<body style="margin:0 20px;">
  <div id="tsh-title">
    <h3><span class="t1">找回密码</span><span class="t2"></span></h3>
    <div class="title-border"></div>
  </div>
  <div class="tsh-process" data-num="3" data-prompt="验证身份,设置新密码,完成" data-colorKeep="true">
  	
  </div>
  <form  method="post" class="form ff">
        <table cellpadding="5">
            <tbody>
	            <tr>
                    <td style="text-align:right">填写手机号：</td>
                    <td><input class="easyui-textbox" type="text" style="width:270px; height:30px;" name="tel" data-options="validateOnCreate:false,required:true,validType:'tel',err:err"></td>
                </tr>
                <tr>
                    <td style="text-align:right">手机校验码：</td>
                    <td>
                        <input class="easyui-textbox" style="width:270px; height:30px;"
                      type="text" name="name" missingMessage=""
                      data-options="required:true,err:err"><a class='btn' href='javascript:;' style="margin-left: 7px;">获取短信验证码</a>
                    </td>
                </tr>
                <tr>
	              <td>&nbsp;</td>
	              <td>
	                	请注意查收短信，如果没有收到，你可以在<span style="color:#ff6363">114</span>秒后要求系统重新发送
	              </td>
	            </tr>
	            <tr>
	              <td>&nbsp;</td>
	              <td>
	                <a href="javascript:void(0)" class="btn btn-1 next submit" data-num="1">提交</a>
	              </td>
	            </tr>
        	</tbody>
    	</table>
  </form>
  <form  method="post" class="form ff">
    	<table cellpadding="5" style="display: none;">
            <tbody>
            <tr>
                <td style="text-align:right">新密码：</td>
                <td>
                    <input class="easyui-textbox" type="password" name="password" validType="length[6,18]" data-options="validateOnCreate:false,required:true,err:err" style="width:270px;height:30px" missingMessage="请填写新密码">
                </td>
            </tr>
            <tr>
                <td style="text-align:right">再次输入新密码：</td>
                <td>
                    <input class="easyui-textbox" name="repassword" validType="equalTo['#ff input[name=password]']" missingMessage="请再次填写新密码" type="password"
                    data-options="validateOnCreate:false,required:true,err:err" style="width:270px;height:30px">
                </td>
            </tr>
				<tr>
	              <td>&nbsp;</td>
	              <td>
	                <a href="javascript:void(0)" class="btn btn-1 next" data-num="2">提交</a>
	              </td>
	            </tr>
        	</tbody>
    	</table>
  </form>
  <form  method="post" class="form ff">
 		<table cellpadding="5" style="display: none;">
 			<tr>
 				<td class="psw-victory" style="color: #02c1b3;font-size: 16px;">设置新密码成功</td>
 			</tr>
 			<tr>
 				<td>请牢记您设置的密码</td>
 			</tr>
 			<tr>
 				<td><a class='btn' href='javascript:;' >返回账户中心</a></td>
 			</tr>
    	</table>
   </form>
  <script src="../../static/ued/1.0.0/process/index.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
  	$("body").on("click",".submit",function(){
  		submitForm();
 	})
  function submitForm() {
    $('.ff').form('submit', {
        url: "",
        onSubmit: function(param) {
            return $(this).form('enableValidation').form('validate');
        },
        success: function(data) {
            if (data.success) {
                alert(data.message)
            }
        }
    });
  }
  </script>
</body>

</html>
