<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <title>淘实惠管理系统</title>
      <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/easyui.css?gversion=1.0.0">
    <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/style.css?gversion=1.0.0">
    <script src="../../../static/tsh/1.0.0/jquery.min.js?gversion=1.0.0"></script>
    <script src="../../../static/tsh/1.0.0/jquery.easyui.min.js?gversion=1.0.0"></script>
    <script src="../../../static/tsh/1.0.0/jquery.easyui.extend.min.js?gversion=1.0.0"></script>
</head>
<body style="margin:0 20px;">
  <div class="tsh-title tsh-title2">
     <h3>
          <div class="title-border"></div>
          <span class="t1">标签</span><span class="t2">添加功能只能添加平台账号</span>
      </h3>
  </div>
  <div id="tt" class="easyui-tabs" fit="true"  tabHeight="40" style="width:100%;height:auto;padding-top:50px;padding-bottom:20px;">
        <div title="用户" style="padding:10px">
          用户<br>
          用户<br>
          用户<br>
          用户<br>

        </div>
        <div title="分配角色" style="padding:10px">
            分配角色
        </div>
        <div title="分配权限" style="padding:10px">
            分配权限
        </div>
    </div>

</body>
</html>
