<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <title>淘实惠管理系统</title>
    <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/easyui.css?gversion=1.0.0">
    <link rel="stylesheet" type="text/css" href="../../../static/tsh/1.0.0/themes/style.css?gversion=1.0.0">
    <script src="../../../static/tsh/1.0.0/jquery.min.js?gversion=1.0.0"></script>
    <script src="../../../static/tsh/1.0.0/jquery.easyui.min.js?gversion=1.0.0"></script>
    <script src="../../../static/tsh/1.0.0/jquery.easyui.extend.min.js?gversion=1.0.0"></script>
    <style type="text/css">
    	.form{margin-top: 55px;}
    	.form td{ padding: 10px 0}
      	#tsh-title .btn-4{position: absolute;top:-5px;}
      	.tsh-process{padding-top: 65px;}
    </style>
</head>
<body style="margin:0 20px;">
  <div id="tsh-title">
    <h3><span class="t1">添加网点</span><span class="t2"></span></h3>
    <div class="title-border"></div>
  </div>
  <div class="tsh-process" data-num="4" data-prompt="填写网点信息,上传网点资料,填写网点物流信息,确认信息" data-start="3" data-colorKeep="false">
  	
  </div>
  <form id="ff" method="post" class="form">
        <table cellpadding="5">
            <tbody>
	            <tr>
                    <td style="text-align:right"><span class="text-red">*</span> 登录名：</td>
                    <td><input class="easyui-textbox" style="width:270px; height:30px;"
                      type="text" name="name" prompt="输入登录名" missingMessage="请填写登录名"
                      data-options="required:true,err:err"></td>
                </tr>
                <tr>
                    <td style="text-align:right">账号状态：</td>
                    <td>
                        <select class="easyui-combobox" name="status" style="width:270px; height:30px;">
                          <option value="true" selected="selected">正常</option>
                          <option value="false">冻结</option>
                    </td>
                </tr>
	            <tr>
	              <td>&nbsp;</td>
	              <td>
	                <a href="javascript:void(0)" class="btn btn-1 next" data-num="1">下一步</a>
	              </td>
	            </tr>
        	</tbody>
    	</table>
    	<table cellpadding="5" style="display: none;">
            <tbody>
	            <tr>
                    <td style="text-align:right"><span class="text-red">*</span> 用户邮箱：</td>
                    <td><input class="easyui-textbox" type="text" style="width:270px; height:30px;" name="email"
                      data-options="validateOnCreate:false,required:true,validType:['email','length[0,20]'],err:err"></td>
                </tr>
                <tr>
                    <td style="text-align:right"><span class="text-red">*</span> 电话号码：</td>
                    <td><input class="easyui-textbox" type="text" style="width:270px; height:30px;"
                      name="tel" data-options="required:true,validType:'tel',err:err"></td>
                </tr>
	              <td>&nbsp;</td>
	              <td>
	                <a href="javascript:void(0)" class="btn btn-1 next" data-num="2">下一步</a>
	                <a href="javascript:void(0)" class="btn prev" data-num="2">上一步</a>
	              </td>
	            </tr>
        	</tbody>
    	</table>
    	<table cellpadding="5" style="display: none;">
            <tbody>
	            <tr>
                    <td style="text-align:right"><span class="text-red">*</span> 手机号码：</td>
                    <td><input class="easyui-textbox" type="text" style="width:270px; height:30px;"
                      name="mobile" data-options="required:true,validType:'mobile',err:err"></td>
                </tr>
                <tr>
                    <td style="text-align:right"><span class="text-red">*</span> 身份证号码：</td>
                    <td><input class="easyui-textbox" type="text" style="width:270px; height:30px;"
                      name="idcard" data-options="required:true,validType:'idcard',err:err"></td>
                </tr>
                <tr>
                    <td style="text-align:right"><span class="text-red">*</span> 相关说明：</td>
                    <td>1.需在class名为tsh-process的div中设置对应的参数。其中data-num表示总的步骤数；data-prompt表示每一步对应的提示词；data-start表示从哪一步最先开始，即有可能不从第一步开始；data-colorKeep：表示点击下一步时，上一步是否保持颜色</td>
                </tr>
                <tr>
                	<td style="text-align:right"></td>
                	<td>2.需在上一步和下一步添加对应的步骤数参数data-num，具体可参见代码</td>
                </tr>
                <tr>
                	<td style="text-align:right"></td>
                	<td>3.后续代码的拓展，建议在Process.prototype中进行拓展，可保证代码的可读性和维护性</td>
                </tr>
	            <tr>
	              <td>&nbsp;</td>
	              <td>
	                <a href="javascript:void(0)" class="btn btn-1 next" data-num="3">下一步</a>
	                <a href="javascript:void(0)" class="btn prev" data-num="3">上一步</a>
	              </td>
	            </tr>
        	</tbody>
    	</table>
    	<table cellpadding="5" style="display: none;">
            <tbody>
	            <tr>
                    <td style="text-align:right">密码：</td>
                    <td><input class="easyui-textbox"  type="password"  name="password" validType="length[4,32]"
                      data-options="required:true,err:err" style="width:270px;height:30px" missingMessage="请填写新密码"></td>
                </tr>
                <tr>
                    <td style="text-align:right">确认密码：</td>
                    <td><input class="easyui-textbox" name="repassword"  validType="equalTo['#ff input[name=password]']"
                      missingMessage="请再次填写新密码" type="password" data-options="required:true,err:err" style="width:270px;height:30px"></td>
                </tr>
	            <tr>
	              <td>&nbsp;</td>
	              <td>
	                <a href="javascript:void(0)" class="btn btn-1 submit">确认信息并提交</a>
	              </td>
	            </tr>
        	</tbody>
    	</table>
    </form>
  <script src="../../../static/ued/1.0.0/process/index.js?gversion=1.0.0"></script>
</body>
</html>
